<!DOCTYPE html>
<html>
  <head>
    <title>View <%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>View HTTP headers</h1>
    <p>HTTP headers in your request:</p>
    <table>
        <% for(var header in headers) {%>
            <tr>
                <td class="td1"><%= header%>&nbsp;&nbsp;</td><td><%= headers[header] %></td>
            </tr>
        <% } %>
    </table>
  </body>
</html>
